[submodule "framework"]
	path = framework
	url = https://github.com/DockerByTheGo/blazy-edge-framework.git
[submodule "batteries/explorer"]
	path = batteries/explorer
	url = https://RadoslavTsvetanov@github.com/DockerByTheGo/blazy-edge-batteries-backend-framework.git
[submodule "batteries/auth"]
	path = batteries/auth
	url = https://RadoslavTsvetanov@github.com/DockerByTheGo/blazy-edge-batteries-authentication.git
[submodule "batteries/file-upload"]
	path = batteries/file-upload
	url = https://RadoslavTsvetanov@github.com/DockerByTheGo/blazy-edge-batteries-file-saving.git
